* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f6ff;
}

header {
    background: #172554;
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background: #1d4ed8;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

.container {
    background: white;
    width: 80%;
    margin: 25px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h2 {
    color: #172554;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    margin-top: 18px;
    padding: 10px 18px;
    background: #1d4ed8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clear-btn {
    background: crimson;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

th {
    background: #172554;
    color: white;
}

#message {
    margin-top: 12px;
    font-weight: bold;
}

footer {
    text-align: center;
    background: #172554;
    color: white;
    padding: 15px;
    margin-top: 30px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 95%;
    }

    nav a {
        display: block;
        margin: 8px;
    }
}